body {
  font-family: "Roboto Slab", serif !important;
  font-size: 0.7em;
  line-height: 1;
}
.App {
  text-align: center;
  margin: 0px 0px;
  padding: 0px 0px;
  font-size: 1.25em;
  line-height: 1.4;
}
p {
  margin: 0px;
}
.container {
  margin: 0px 0px;
  padding: 0px 0px;
  max-width: 100%;
}
.navbar {
  background-color: #22520cb7;
  color: floralwhite;
  margin: 0px auto;
  padding: 0px 10px;
  border-bottom: 1px solid #1335033b;
}
.nav {
  color: floralwhite;
  margin: 0px auto;
  margin-right: 0px;
  padding: 0px auto;
}
button.login {
  color: floralwhite;
  font-size: 1em;
}
button.login:hover {
  background-color: #54c81e;
}

.jumbotron {
  padding: 10px 15px 10px 15px;
  background: #22520c7a;
  color: floralwhite;
  margin: 0px auto;
  padding: 0px auto;
  border-radius: 0%;
  border-top: 1px solid #a8a608be;
  border-bottom: 1px solid #a8a608be;
  background-image: linear-gradient(140deg, #54c81e 0%, #22520c7a 100%);
}
.jumbotron .col-offset-right {
  margin-left: -6%;
  align-self: center;
}
.footer {
  background: #133503e0;
  color: floralwhite;
  margin: 0px auto;
  padding: 0px auto;
}
.form {
  background: rgb(231, 228, 228);
  color: black;
  border: 2px solid rgba(131, 139, 14, 0.478);
  border-radius: 15px;
  max-width: 90%;
  margin: 1% auto;
  padding: 1%;
}
.terms,
.terms:hover {
  color: inherit;
  border: 1px solid #22520c7a;
  border-radius: 10px 10px;
  padding: 0px auto;
  margin: 0px auto;
  font-size: 1em;
}
.row-header {
  margin: 0px auto;
  padding: 0px auto;
}

.row-content {
  margin: 0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
}

div .SelectComponent span .select-span {
  text-align: center;
  color: 22520cc0;
  font-size: 0.7em;
}
.option-image {
  border: 1px solid #22520cc0;
  border-radius: 2px 2px;
}
div .Select-value {
  border: 1px solid rgb(231, 228, 228) !important;
}
.input-label {
  margin: 0px;
}
.btn-outline-success {
  margin: 1%;
}
div.sidebar,
.col-md-auto {
  background: rgb(168, 167, 167);
  margin: 0px;
  padding: 0px;
  color: black;
}
.row div.col {
  margin: 0px;
  padding: 0px;
}
.nav-link {
  color: white;
  border-radius: 2px 2px;
  border-radius: 5px;
}
.nav-link:hover {
  color: white;
  background: #54c81e;
  border-radius: 2px 2px;
  border-radius: 5px;
}

.nav-link-sidebar:hover {
  color: #22520cc0;
  background: rgb(252, 248, 248);
  border-radius: 5px;
  margin-left: 15%;
  margin-right: 15%;
  padding: 2px 0px;
}
.nav-link-sidebar {
  border-radius: 5px;
  margin-left: 15%;
  margin-right: 15%;
  padding: 2px 0px;
}
