body {
  font-family: "Roboto Slab", serif !important;
  font-size: 0.7em;
  line-height: 1;
}
.App {
  text-align: center;
  margin: 0px 0px;
  padding: 0px 0px;
  font-size: 1.25em;
  line-height: 1.4;
}
p {
  margin: 0px;
}
.container {
  margin: 0px 0px;
  padding: 0px 0px;
  max-width: 100%;
}
.container.footer {
  background-color: rgb(24, 34, 101);
}
.main-spacer-header-hr {
  box-shadow: -1px 3px 0px 0px rgba(199, 198, 198, 0.38);
}
.navbar {
  background-color: rgb(24, 34, 101);
  color: floralwhite;
  margin: 0px auto;
  padding: 0px 10px;
  border-bottom: 1px solid #1335033b;
}
.nav {
  color: floralwhite;
  margin: 0px auto;
  margin-right: 0px;
  padding: 0px auto;
}
button.login {
  color: floralwhite;
  font-size: 1em;
}
button.login:hover {
  background-color: rgba(86, 189, 162, 1);
  box-shadow: 3px 5px 3px -5px rgba(240, 202, 100, 0.5);
}
a.nav-link.header:hover {
  color: rgba(86, 189, 162, 1);
  background: none;
}

.jumbotron {
  padding: 10px 15px 10px 15px;

  color: floralwhite;
  margin: 0px auto;
  padding: 0px auto;
  border-radius: 0%;
  border-top: 1px solid rgba(225, 189, 94, 0.8);
  border-bottom: 1px solid rgba(225, 189, 94, 0.8);
  /*background-image: linear-gradient(110deg, #ffcc26c4 30%, #463cb0 100%);*/
  background: rgb(36, 148, 162);
}
.jumbotron .col-offset-right {
  margin-left: -6%;
  align-self: center;
}
.footer {
  background: rgb(24, 34, 101);
  color: floralwhite;
  margin: 0px auto;
  padding: 0px auto;
}
div.converted-amount.row {
  display: flex;
  justify-content: left;
  padding: 1% 4%;
  align-items: center;
}
div.conversion-answer.col-md-10 {
  text-align: left !important;
}
.card.smallBill {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 4px;
  font-size: 0.7em;
  font-weight: 600;
  margin: none !important;
  position: relative;
  box-shadow: 1px 2px 3px -3px rgba(109, 108, 105, 0.959) !important;
}
.card.smallBill:hover{
  border-color: hsl(0, 0%, 70%);
  border-radius: 4px !important;
  border-width: 1px;
}
.card-img-top {
  width: 100% !important;
  padding:none;
}
.form {
  background: rgb(231, 228, 228);
  color: black;
  border: 2px solid #463cb041;
  border-radius: 15px;
  max-width: 90%;
  margin: 1% auto;
  padding: 1%;
}
.terms,
.terms:hover {
  color: inherit;
  background: rgba(86, 189, 162, 0.8);
  border: 1px solid rgb(24, 34, 101);
  border-radius: 10% 2% !important;
  padding: 0px auto;
  margin: 0px auto;
  font-size: 1em;
}

.row-header {
  margin: 0px auto;
  padding: 0px auto;
}

.row-content {
  margin: 0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
}

div .SelectComponent span .select-span {
  text-align: center;
  color: 22520cc0;
  font-size: 0.7em;
}
.option-image {
  border: 1px solid rgb(24, 34, 101);
  border-radius: 2px 2px;
}
div .Select-value {
  border: 1px solid rgb(231, 228, 228) !important;
}
.input-label {
  margin: 0px;
}
.btn-outline-success {
  margin: 1%;
}
div.sidebar {
  background: rgba(228, 226, 226, 0.363);
  margin-right: 0.5%;
  padding-left: 3%;
  /* border-right: 1px solid rgb(192, 192, 197); */
  box-shadow: 3px 1px 8px -5px rgba(0, 0, 0, 0.38);
  text-align: left;
}
.row div.col {
  margin: 0px;
  padding: 0px;
}
.nav-link {
  color: white;
  border-radius: 2px 2px;
  border-radius: 5px;
}
.nav-link:hover {
  color: white;
  color: rgba(225, 189, 94, 1);
  background: none;
  border-radius: 2px 2px;
  border-radius: 5px;
}

.nav-link-sidebar:hover {
  color: rgba(225, 189, 94, 1);
  background: none;
  border-radius: 5px;
  margin-left: 15%;
  margin-right: 2%;
  padding: 0px 10px;
  margin-top: 10%;
}
.nav-link-sidebar {
  border-radius: 5px;
  margin-left: 15%;
  margin-right: 2%;
  margin-top: 10%;
  padding: 0px 10px;
  color: rgb(24, 34, 101);
}
.currency_image {
  width: 100%;
  height: 100%;
}
button.addImage,
input.form-control.amount-to-convert {
  padding: 2px 8px;
  color: hsl(0, 0%, 50%);
  background-color: hsl(0, 0%, 100%);
  border-color: hsl(0, 0%, 80%);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  font-size: 1em;
  min-height: 38px;
  transition: all 100ms;
  border-radius: 4px !important;
}
input.form-control.amount-to-convert:hover {
  border-color: hsl(0, 0%, 70%);
  border-radius: 4px !important;
  border-width: 1px;
}
/*how to make active state last as long as the curser is there?*/
input.form-control.amount-to-convert:active {
  border-color: #2684ff;
  border-radius: 4px !important;
  border-width: 1px;
  box-shadow: 0px 0px 0px 1px #2684ff !important;
  transition: all 100ms;
}
.css-bg1rzq-control {
  box-shadow: 1px 2px 3px -3px rgba(109, 108, 105, 0.959) !important;
}
.textLeft {
  text-align: left;
  line-height: 1.5;
}
.budget svg > path {
  /* color: rgb(24, 34, 101); */
}

.budget svg {
  margin-left: 3%;
}
div.budget.input-group {
  display: flex !important;
  align-items: center !important;
  align-content: space-between;
}
p.budget {
  display: flex;
  align-items: center !important;
  margin-left: 10px;
}
div.expense-description.active {
  display: none;
}
textarea.form-control {
  outline: none;
  font-size: 0.8em;
  padding: none;
  border-radius: 5px 5px 5px 5px !important;
}
/*dont know if this works*/
.Select-control {
  padding: 0px !important;
  margin: 0px !important;
}
.expense-table {
  box-shadow: 3px 1px 8px -5px rgba(0, 0, 0, 0.38);
  box-shadow: 1px 1px 4px 1px #00000045;
  background: rgba(240, 236, 236, 0.712);
  border-radius: 10px 10px;
}
.expenses > .col-md-10 {
  padding: none;
}

.expenses > .col-md-1 {
  padding: none;
  display: flex;
}
button.expenses:hover {
  border: rgba(225, 189, 94, 1);
  border-radius: 50% 50% !important;
  margin: 0px, auto;
  background: rgba(86, 189, 162, 1) !important;
  box-shadow: 4px 2px 5px -3px rgba(177, 176, 172, 0.959) !important;
}
button.expenses {
  color: rgb(24, 34, 101);
  background: none !important;
  border: none;
}
/* button.expenses:focus {
  box-shadow: inset 0px 0px 5px 1px rgb(190, 186, 186) !important;
  background: rgba(54, 122, 104, 0.959) !important;
  transition: all 0.5s ease-in;
} */
.table-sm td,
.table-sm th {
  padding-right: 3% !important;
  margin: none !important;
  text-align: center;
}

.table td,
.table th {
  padding: none !important;
  margin: none !important;
  text-align: center;
}
.table thead th {
  padding: none !important;
  margin: none !important;
}
table {
  width: 100%;
}
span.order .dropdown,
.dropup > .caret {
  color: black;
  background-color: #d93636;
}
table .row {
  margin: none;
}
select {
  margin: none;
  padding: 0px;
  background: inherit;
  border: 0px;
  border-radius: 0.3rem !important;
  width: 100%;
  color: #495057;
  box-shadow: 1px 2px 3px -3px rgba(109, 108, 105, 0.959) !important;
}
table select option {
  background: rgba(240, 236, 236, 0.712);
  font-weight: inherit;
  display: block;
  white-space: none;
  min-height: 1em;
  padding: 0px;
  color: #495057;
}
table textarea {
  background: inherit;
  border: none;
  width: 100%;
  border-radius: 0.3rem !important;
  box-shadow: 1px 2px 3px -3px rgba(109, 108, 105, 0.959) !important;
}
table .form-control {
  display: block;
  width: 100%;
  height: none !important;
  padding: none !important;
  color: #495057;
  background-color: none !important;
  background-clip: padding-box;
  border: 0px solid #ced4da;

  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
table .input-group-sm > .form-control {
  line-height: inherit;
  border-radius: 0.3rem !important;
  background-color: none !important;
}

textarea.form-control,
input.form-control {
  background: rgba(240, 236, 236, 0.712);
  padding: none !important;
  margin: none !important;
  font-size: 0.8rem;
  border-radius: 0.3rem !important;
  border: none;
  box-shadow: 1px 2px 3px -3px rgba(109, 108, 105, 0.959) !important;
}
input.form-control.budget {
  background: rgba(240, 223, 178, 0.3);
}
span.input-group-text {
  font-size: 0.6rem !important;
  font-weight: 700;
  display: inline-block;
  box-shadow: none;
  border-radius: 0.3rem !important;
  border: none;
  box-shadow: 1px 3px 2px -3px rgba(109, 108, 105, 0.959) !important;
  padding: none !important;
  margin: none !important;
}
